@model dynamic

@{
    ViewBag.Title = I18N.CostPrices;
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = window.translate("CostPrices");

    scrudFactory.viewAPI = "/api/views/purchase/item-cost-price-scrud-view";
    scrudFactory.viewTableName = "purchase.item_cost_price_scrud_view";

    scrudFactory.formAPI = "/api/forms/purchase/item-cost-prices";
    scrudFactory.formTableName = "purchase.item_cost_prices";

    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs", "Deleted"];


    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    //scrudFactory.live = "";

    scrudFactory.card = {
        header: "Item",
        meta: "Unit",
        description: "Price"        
    };

    //scrudFactory.layout = [
    //    {
    //        tab: "",
    //        fields: [
    //            ["", ""],
    //            ["", ""],
    //        ]
    //    }
    //];

    scrudFactory.keys = [
        {
            property: "ItemId",
            url: '/api/forms/inventory/items/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        },
        {
            property: "UnitId",
            url: '/api/forms/inventory/units/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        },
        {
            property: "SupplierId",
            url: '/api/forms/inventory/suppliers/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        }
    ];



    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>