html, body {
    font-smooth: always;
}

.pos.purchase.segment {
    font-size: 0.8em;
}

@media screen and (min-width: 1200px) {
    #pos-container {
        font-size: 9px !important;
    }
}

@media screen and (min-width: 1300px) {
    #pos-container {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 1400px) {
    #pos-container {
        font-size: 11px !important;
    }
}

.purchase.layout, #pos-container {
    height: 100%;
}

    #pos-container .dimmer {
        letter-spacing: 1px;
        font-size: 1.5em;
        text-transform: uppercase;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
    }

        #pos-container .dimmer div.spinner {
            padding: 0.5em;
        }

#dashboard-container {
    padding: 0 !important;
}

#TenderInputText, #ChangeInputText {
    color: yellow !important;
    font-size: 1.5em;
}

#GiftCardNumberBalanceInputText {
    color: yellow !important;
}

#TicketIframe {
    background-color: white;
    width: 100%;
    height: 600px;
    border: none;
    margin: 1em 0.2em;
    padding: 0.5em;
    box-shadow: 2px 2px 10px #ddd;
}

.ticket.panel {
    display: none;
}

.customer.search.modal {
    height: 100%;
}


    .customer.search.modal iframe {
        border: none;
        background-color: white;
        width: 100%;
        height: 1000px;
        display: block;
    }

.inverted.header, .inverted.form {
    background: transparent !important;
}

input.invoice.number.for.reprint {
    background: transparent !important;
    border: 1px solid #555 !important;
    color: #eee !important;
}

.inverted.info.message {
    background-color: #B3A12E !important;
    border: 1px solid #B3A12E !important;
    color: #fff !important;
}

.info {
    padding: 0.25em 0.5em;
    display: inline-block;
    margin: 1px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.92em;
}

.office.info {
    background-color: #D65302;
}

.user.info {
    background-color: #68A800;
}

.area.info {
    background-color: #02B3D6;
}

.counter.info {
    background-color: #AC02D6;
}



.status.head {
    background-color: #444;
    padding: 1em;
    cursor: pointer;
}

.inline.blocks > .item {
    display: inline-block !important;
    padding: 2px;
    min-width: 12em;
}

.two.inline.blocks > .item {
    width: 50% !important;
}

.three.inline.blocks > .item {
    width: 33% !important;
}

.four.inline.blocks > .item {
    width: 25% !important;
}

.status.head .left {
    display: inline-block;
    width: 40%;
}

.status.head .right {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.item.list {
    background-color: #333;
    cursor: pointer;
    text-align: center;
}

    .item.list .item {
        display: inline-flex;
        background: linear-gradient(to top, #222, #575553);
        margin: 4px;
        height: 280px;
        padding: 0.5em;
        width: 200px;
        cursor: pointer;
    }

        .item.list .item:hover {
            background: linear-gradient(to top, #575553, #222);
        }

        .item.list .item .info {
            overflow: hidden;
        }

        .item.list .item .photo {
            position: relative;
            top: -16px;
            left: -2px;
            width: 200px;
            height: 280px;
        }


        .item.list .item:hover img {
            filter: grayscale(0%) !important;
            transition: opacity 1s ease-in-out;
        }


        .item.list .item .info .photo img {
            height: 300px;
            filter: grayscale(50%);
        }

        .item.list .item .info .name {
            font-size: 1.4em;
            font-weight: 800;
            position: relative;
            z-index: 1;
            top: -6.5em;
            line-height: 1.2em;
            text-align: center;
            text-shadow: 2px 2px 5px black;
        }

        .item.list .item .info .price {
            font-size: 3em;
            font-weight: 300;
            text-align: right;
            position: relative;
            z-index: 1;
            top: 0.7em;
            text-shadow: 2px 2px 6px #000;
            color: #eee;
        }


.category.list {
    padding: 4px;
    text-align: center;
    background-color: #555;
}

    .category.list .filter {
        text-align: right;
        display: inline-block;
    }

    .category.list .category, .cat.filter {
        display: inline-block;
        background-color: #555;
        color: white;
        padding: 4px 12px;
        margin: 2px;
        border-radius: 12px;
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .category.list .cat.filter {
        background-color: #444;
    }

    .category.list .category.selected, .category.list .category:hover {
        background-color: #78AD05;
    }

    .category.list .cat.filter:hover {
        background-color: #FA6400 !important;
    }

.search.panel {
    background-color: #666;
    padding: 1em;
    text-align: center;
}

    .search.panel input {
        text-align: center;
        font-size: 1.1em;
        background-color: transparent;
        border: 1px solid #999;
        border-radius: 2em;
        text-transform: uppercase;
        height: 2em;
        width: 20em;
    }


.purchase.items .item {
    background-color: #333;
    padding: 3px 9px;
    border-bottom: 1px dotted #444;
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

    .purchase.items .item:nth-child(even) {
        background-color: #373737 !important;
    }

    .purchase.items .item:hover {
        background-color: #3a3a3a !important;
    }

    .purchase.items .item .block {
        display: inline-block;
        height: 112px;
        overflow: hidden;
    }

        .purchase.items .item .block img {
            height: 112px;
        }

    .purchase.items .item .photo.block {
        width: 90px;
        overflow: hidden;
    }

    .purchase.items .item .number.block {
        width: 120px;
    }


        .purchase.items .item .number.block button {
            height: 100%;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

    .purchase.items .item input {
        font-size: 1.3em;
        margin: 0 0 0.3em 0;
        background-color: #333;
        border: 1px solid #555;
        width: 100%;
        padding: 4px 16px;
        text-align: right;
        border-radius: 0.5em;
    }

    .purchase.items .item .info.block {
        width: calc(100% - 220px);
        padding: 1em;
    }

        .purchase.items .item .info.block .price.info,
        .purchase.items .item .info.block .discount.info,
        .purchase.items .item .info.block .tax.info,
        .purchase.items .item .info.block .header {
            display: block;
        }

        .purchase.items .item .info.block .header {
            font-size: 1.5em;
            font-weight: 500;
            text-transform: uppercase;
        }

        .purchase.items .item .info.block .price.info {
            padding-top: 4px;
        }

        .purchase.items .item .info.block .info {
            font-size: 1.1em;
            text-align: left;
            padding: 0;
            text-transform: none;
            color: #fbd842;
        }


.tender.info {
    background-color: #333;
    width: 100%;
    cursor: pointer;
    margin: 0 0 8px 0;
    padding: 6px 0;
}


    .tender.info:hover {
        background-color: #3f3f3f;
    }


.summary.items {
    padding: 0.5em 1em;
    display: flex;
}

    .summary.items > .item {
        display: inline-flex;
        flex-direction: column;
        padding: 2px;
    }

.three.summary.items > .item {
    width: 32%;
}

.two.summary.items > .item {
    width: 48%;
}

.one.summary.items > .item {
    width: 96%;
}

.summary.items > .item > .description {
    padding-bottom: 0.5em;
    font-size: 0.9em;
    text-align: left;
}

.summary.items > .item > .money {
    padding-top: 0.1em;
    font-size: 3em;
}


input.pan.number,
input.customer.name,
input.customer.address {
    font-size: 12px !important;
    padding: 8px !important;
}

.customer.name.item {
    width: 40% !important;
}

.customer.address.item {
    width: 30% !important;
}

.pan.number.item {
    width: 25% !important;
}

.inverted.dropdown,
.inverted.dropdown input.search,
.inverted.dropdown .menu,
.inverted.dropdown .item,
.inverted.dropdown .message {
    background-color: #555 !important;
    color: #eee !important;
    border: 1px solid #666 !important;
}

    .inverted.dropdown .item.selected,
    .inverted.dropdown .item:hover {
        background-color: #666 !important;
    }

.summary.items input,
.summary.items select,
.inverted.input,
.inverted.select {
    background-color: #555 !important;
    color: #eee !important;
    border: 1px solid #666 !important;
    padding: .87em;
    border-radius: 0.4em;
    width: 100%;
    -moz-appearance: none; /* Firefox */
}

.summary.items .dropdown {
    padding: 1em !important;
}

select.inverted {
    background-color: #333;
    border: 1px solid #555;
    width: 100%;
    padding: 0.55em 1em;
    border-radius: 0.5em;
    -moz-appearance: none; /* Firefox */
}

#dashboard-container {
    padding: 0 !important;
}

#pos-container {
    background-color: #555;
}


.pos.tabs {
    display: flex;
    padding: 0;
}


    .pos.tabs .item {
        display: inline-flex;
        flex-direction: column;
        background: #444;
        margin: 0 0.5em 0 0;
        font-weight: bold;
        font-size: 1.3em;
        padding: 0.75em 1em;
        border-radius: 0.5em 0.5em 0 0;
        cursor: pointer;
        text-shadow: 2px 2px 20px #222;
    }

        .pos.tabs .selected.item,
        .pos.tabs .active.item,
        .pos.tabs .item:hover {
            background: #C6A13D;
            color: #eee;
        }

.circular.button {
    padding: 0.9em 2em !important;
}

#pos-items {
    background-color: #3a3a3a;
    height: 100%;
    padding: 1em;
}

.tabs .actions {
    background: #555;
    width: 100%;
    text-align: right;
    margin: 0 !important;
}

    .tabs .actions .icon {
        cursor: pointer;
    }

.ui.action.panel.inverted.segment {
    background: none !important;
}

.action.panel .toolbar {
    display: flex;
    background-color: #2f2f2f;
    background: linear-gradient(to top, #222, #444);
    text-align: right;
}

    .action.panel .toolbar > .item {
        text-align: center;
        display: inline-flex;
        flex-direction: column-reverse;
        background: #3f3f3f;
        background: linear-gradient(to top, #222, #444); /* Standard syntax */
        padding: 1em 0.6em;
        border-right: 1px solid #333;
        height: 3em;
        width: 2.5em;
        font-size: 1.4em;
        cursor: pointer;
    }


        .action.panel .toolbar > .item:hover {
            background: #C4A03D;
            background: linear-gradient(to bottom, #C4A03D, #C4343D); /* Standard syntax */
        }

.summary.items > .item > .description {
    text-transform: uppercase;
    font-weight: bold;
}

.header.items {
    background-color: #3f3f3f;
    background: linear-gradient(to top, #292929, #444); /* Standard syntax */
    padding: 1em 1em 1.5em;
}



    .header.items .count.item,
    .header.items .count.item .description {
        text-align: right !important;
    }

        .header.items .count.item .money {
            color: #FBD840;
        }

.footer.items {
    background-color: #3f3f3f;
    background: linear-gradient(to top, #292929, #3a3a3a); /* Standard syntax */
    padding: 1em;
    text-align: right;
}

.action.panel.segment {
    padding: 0;
    border: 0;
    margin: 0;
}

.payment.type.container {
    padding-bottom: 1em;
    border-bottom: 1px solid #444;
}

.show.anchor {
    padding: 1em;
    color: #C4A03D;
}
/*Semantic UI Override*/
@media only screen and (max-width: 500px) {
    .ui.buttons {
        display: block !important;
    }

        .ui.buttons .button {
            width: 100% !important;
            margin-bottom: 0.5em !important;
        }
}

#pos-items {
    display: flex;
}

    #pos-items .all.items {
        width: 100%;
    }

    #pos-items .checkout.items {
        width: 700px !important;
        overflow: auto;
        padding: 0 1em;
    }

.page.title {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    background: #444;
    padding: 1em;
    margin-bottom: 1em;
}

.summary.items input,
.summary.items textarea,
.summary.items select {
    background-color: #555 !important;
    color: #eee !important;
    border: 1px solid #666 !important;
    padding: .87em;
    border-radius: 0.4em;
    width: 100%;
    -moz-appearance: none; /* Firefox */
}
